{{ define "content" }}
<div class="landing-page-body">

    <h1>Welcome to my humble digital abode. This website serves as my presence on the Internet and a sandbox for me to try some cool stuff. Please proceed to the actual content.</h1>
</div>
{{ end }}
